<div class="card3 d-flex justify-content-center align-items-center"><div class="card d-flex justify-content-center align-items-center">
  <img src="https://img.freepik.com/fotos-gratis/viagem-ainda-vida-com-pacote-plano_23-2148837340.jpg?w=826&t=st=1694275410~exp=1694276010~hmac=e3e00422a0bfb0b7b1bc129d54c3753e16c89df0567944c7e4bfd846e5e41fe2" class="card-img-top" alt="Fissure in Sandstone" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
</div>
