<div class="text-center">

  <!-- Facebook -->
  <a class="btn text-white mx-1" style="background-color: #3b5998; border-radius: 20%;" href="#!" role="button">
    <i class="fab fa-facebook-f"></i>
  </a>

  <!-- Twitter -->
  <a class="btn text-white mx-1" style="background-color: #55acee; border-radius: 20%;" href="#!" role="button">
    <i class="fab fa-twitter"></i>
  </a>

  <!-- Instagram -->
  <a class="btn text-white mx-1" style="background-color: #ac2bac; border-radius: 20%;" href="#!" role="button">
    <i class="fab fa-instagram"></i>
  </a>

  <!-- Linkedin -->
  <a class="btn text-white mx-1" style="background-color: #0082ca; border-radius: 20%;" href="#!" role="button">
    <i class="fab fa-linkedin-in"></i>
  </a>

  <!-- Youtube -->
  <a class="btn text-white mx-1" style="background-color: #ed302f; border-radius: 20%;" href="#!" role="button">
    <i class="fab fa-youtube"></i>
  </a>

  <!-- Whatsapp -->
  <a class="btn text-white mx-1" style="background-color: #25d366; border-radius: 20%;" href="#!" role="button">
    <i class="fab fa-whatsapp"></i>
  </a>
</div>
