<div class="card d-flex justify-content-center align-items-center">
  <img src="https://img.freepik.com/fotos-gratis/conceito-de-viagem-rodoviaria-com-o-jovem-casal_23-2148195647.jpg?w=826&t=st=1694275476~exp=1694276076~hmac=68502d0afc1c4fcbbb4bdae6f39daf6b0f0de6eac5086c27babdd467d2733015" class="card-img-top" alt="Fissure in Sandstone" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
</div>

