<div class="container">
  <div class="row">
    <div class="col-6"> *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque? *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam corporis cum magni odio, omnis perspiciatis porro possimus quidem, quis sapiente sit suscipit totam. Adipisci doloribus eligendi esse exercitationem modi natus non, quibusdam quisquam saepe soluta. Amet corporis porro quam voluptate! Earum nobis praesentium quasi! Architecto beatae dolores sapiente! A adipisci animi architecto asperiores assumenda, aut corporis delectus dolorem doloribus excepturi exercitationem, explicabo facilis harum illo illum magnam magni maxime minima, nam nihil perferendis placeat porro quaerat quam quas quasi quod saepe suscipit temporibus tenetur ut vel vitae voluptatem! Quod?
    </div>
    <div class="col-6">
      <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/2021/07/pes-com-chuteiras-disputando-por-bola-em-campo-de-futebol.jpg" class="w-100">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <img src="https://i.pinimg.com/550x/de/cb/f6/decbf66439be5a7bb12d21e323f98f3c.jpg" class="w-100">
    </div>
    <div class="col-6"> *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque? *Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, blanditiis commodi deserunt ducimus earum error eum fuga in iste itaque laborum molestiae, necessitatibus nesciunt nihil pariatur quae quam quo sed unde vero voluptate voluptatem! Accusantium aliquid dolore itaque minus neque quia sed totam vitae. Alias expedita laboriosam praesentium velit vero. Aspernatur assumenda atque blanditiis delectus, dignissimos dolor dolores earum eligendi eos ex fugit harum labore laudantium libero magnam minus nam nemo nisi quasi rem repellat similique veritatis voluptates! Consequatur dolor dolorem eveniet iste labore, maiores nemo provident tempore voluptatibus!
    </div>
  </div>
</div>
<br>
