<div class="card2 d-flex justify-content-center align-items-center"><div class="card d-flex justify-content-center align-items-center">
  <img src="https://img.freepik.com/fotos-gratis/o-homem-fica-no-final-de-trolltunga-antes-das-montanhas_1304-5318.jpg?w=826&t=st=1694275366~exp=1694275966~hmac=7b169d44e33543511fe198a41f0db192a3e346d036ab1cc83fd7b24c478af95d" class="card-img-top" alt="Fissure in Sandstone" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
</div>

